%% -*- erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 et
%% -------------------------------------------------------------------

{deps, [
    {rebar3, {git, "https://github.com/erlang/rebar3.git", {branch, "master"}}}
]}.

{erl_opts, [{platform_define, "^[0-9]+", namespaced_types},
            {platform_define, "^(19|2)", rand_only},
            debug_info,
            warnings_as_errors]}.

